@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");

.background{
  background: url("./desktop.jpg"); 
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center;
}

.cursive{
  font-family: cursive;
}

.arrow{
  position: absolute;
  left: 30%;
  top: 90%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 767px) {
  .background{
    background: url("./mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
  }

  .arrow{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
  }
}