@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");

.background{
  background-image: url("./pozadina2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

